doctype html
html
	head
	title= title
	meta(name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	meta(name='apple-mobile-web-app-capable' content='yes')
	meta(charset='utf-8')

	link(rel='stylesheet', href='/css/style.css')
	body
		header(class='group') 
			div(class='logo')
				a(href='/')
					h1 Marvel
		block content

		//script(src='javascripts/builder.js')